* {
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	min-height: 100vh;
}


nav {
	padding: 10px;
	background-color: #9370DB;
	width: 20%;
}

main {
	display: flex;
	flex-direction: column;
	flex: 1;
}

header {
	background-color: #6495ED;
	height: 200px;
	padding: 10px;
}

footer {
	background-color: #6495ED;
	height: 200px;
	padding: 10px;
}

content {
	display: flex;
	flex: 1;
}

article {
	background-color: white;
	flex: 1;
	padding: 10px;
}



aside {
	background-color: #DB7093;
	width: 300px;
	padding: 10px;
}







.test {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.header {

	height: 200px;
	background-color: yellow;
}

.content {
	display: flex;
	flex-direction: row;
	flex: 1;
}

.article {
	flex: 1;
	background-color: cyan;
}

.aside {
	background-color: red;
	width: 300px;
}


.footer {
	height: 200px;
	background-color: gold;
}
/** {
	padding: 0;
	margin: 0;
}

.site {
	display: flex;
}


nav {
	background-color: purple;
	width: 400px;
}

main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

header {
	background-color: blue;
	height: 200px;
}

footer {
	background-color: green;
	height: 200px;
}

content {
	display: flex;
	flex-grow: 1;
}

article {
	background-color: brown;
	flex-grow: 1;
}



aside {
	background-color: pink;
	width: 300px;
}*/

